<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div style="width: 800px;margin-right: 80px;background: #0f6674;border: #0b2e13">

    <div style="width: 200px;float: left;">
        <ul>
            <li>
                <a href="/left">主页</a>
            </li>
            <li>
                <a href="/zh">中译英</a>
            </li>
            <li>
                <a href="/eg">英译中</a>
            </li>
            <li>
                <a href="/main">普翻</a>
            </li>
            <li>
                <a href="/download">下载</a>
            </li>
        </ul>
        <div id="page" class="site">
    <div class="site-branding">
        <div>
        <form method="post" >
            <!--<select name="myselect" >-->
                <a href="/蒂森">蒂森</a>
                <a href="/迅达">迅达</a>
                <a href="/日立">日立</a>
            <!--</select>-->
            <br />
            <!--<input type="submit" onclick="jump();"/>-->
        </form>
    </div>
        <br />
<img src="https://uploadfile.huiyi8.com/2018/af/6c/0e/06/374563.jpg">
    </div>
</div>
    </div>
    <script>
        function jump() {
            window.location.href=document.getElementById("jump").innerHTML;
        }
    </script>
</div>
</body>
</html>