<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 800px; margin: 20px auto;">
    {{ state }}
    <div style="width: 200px;float: left;">
        <ul>
            <li>
                <a href="/">主页</a>
            </li>
            <li>
                <a href="/listen">查看</a>
            </li>
            <li>
                <a href="/playlisten">听书</a>
            </li>
            <li>
                <a href="/sourch">搜书</a>
            </li>
            <li>
                <a href="/speech">朗读</a>
            </li>
        </ul>
    </div>
<form method="post" action="/listen">
    请输入内容:
    <input type="text" name="keyword">
    <input type="submit" value="提交" name="submit">
</form>
    <div id="page" class="site">
    <div class="site-branding">
        <br />
        <br />
<img src="https://uploadfile.huiyi8.com/2018/af/6c/0e/06/374563.jpg">
    <br />
    <br />
    <br />
    {{ novel_name }}
    <br />
    {{ listen_text }}
    <br>
    <br>
    <br>

    </div>
</div>
</div>
</body>
</html>